In [4]:
import app.scripts.importer

# importer.load_data('\\real\\konto.csv')
importer.load_data('\\account.csv')

# importer.load_pl_millenium('\\test_pl_millenium.csv')

,Bank,Date,Title,Details,Category,Comment,Operation,Currency,Balance
0,Bank A,2021-01-31,Init money,NaN,NaN,init,888.48,PLN,888.48
1,Bank A,2021-02-01,Italian restaurant,NaN,NaN,anniversary,-38.26,PLN,850.22
2,Bank A,2021-02-02,Market A,NaN,NaN,NaN,-14.72,PLN,835.50
3,Bank A,2021-02-03,Netflix,NaN,NaN,NaN,-100.00,PLN,735.50
4,Bank A,2021-02-04,Canteen,NaN,NaN,NaN,-16.20,PLN,719.30
5,Bank A,2021-02-28,Salary,NaN,NaN,January salary,1000.56,PLN,1719.86

In [3]:
df = importer.load_data('\\test_pl_millenium.csv')
df = df[['Data transakcji', 'Opis', 'Obciążenia', 'Uznania', 'Waluta']]
df

  Data transakcji              Opis  Obciążenia  Uznania Waluta
0      2021-03-15  Train ticket PKP      -21.78      NaN    PLN
1      2021-03-08           Spotify      -19.99      NaN    PLN
2      2021-02-26           Przelew         NaN    50.00    PLN
3      2021-02-26            PENSJA         NaN  1234.78    PLN
4      2021-02-25  Zamówienie pizzy      -64.90      NaN    PLN
5      2021-02-22           Telefon      -69.00      NaN    PLN

In [4]:
import numpy as np
df['Operation'] = np.where(df['Obciążenia'] < 0, df['Obciążenia'], df['Uznania'])
df

  Data transakcji              Opis  Obciążenia  Uznania Waluta  Operation
0      2021-03-15  Train ticket PKP      -21.78      NaN    PLN     -21.78
1      2021-03-08           Spotify      -19.99      NaN    PLN     -19.99
2      2021-02-26           Przelew         NaN    50.00    PLN      50.00
3      2021-02-26            PENSJA         NaN  1234.78    PLN    1234.78
4      2021-02-25  Zamówienie pizzy      -64.90      NaN    PLN     -64.90
5      2021-02-22           Telefon      -69.00      NaN    PLN     -69.00

In [5]:
df = df.drop(columns=['Obciążenia', 'Uznania'])
df = df.rename(columns={'Data transakcji': 'Date', 'Opis': 'Title', 'Waluta': 'Currency'})
df['Bank'] = 'Millenium'
existing_columns = list(df.columns)
columns = ['Category', 'Comment']
df.reindex(existing_columns + columns, axis="columns")
df

         Date             Title Currency  Operation       Bank
0  2021-03-15  Train ticket PKP      PLN     -21.78  Millenium
1  2021-03-08           Spotify      PLN     -19.99  Millenium
2  2021-02-26           Przelew      PLN      50.00  Millenium
3  2021-02-26            PENSJA      PLN    1234.78  Millenium
4  2021-02-25  Zamówienie pizzy      PLN     -64.90  Millenium
5  2021-02-22           Telefon      PLN     -69.00  Millenium

In [7]:
import scripts.main.config as config

df.to_csv(config.mankoo_account_path())

In [2]:
import scripts.main.importer as importer

account = importer.load_data('account')