In [1]:
import scripts.main.importer as importer
import scripts.main.config as config

AttributeError: partially initialized module 'scripts.main.importer' has no attribute 'Bank' (most likely due to a circular import)

## Load account data

In [12]:
df = importer.load_data(importer.FileType.ACCOUNT)
# df

## Add/Modify rows on condition

In [13]:
df.loc[df['Account'] == 'eKonto', 'Type'] = 'checking'

## Save account file

In [9]:
df.to_csv(config.mankoo_file_path('account'), index=False)

---
## Other

In [4]:
import numpy as np
df['Operation'] = np.where(df['Obciążenia'] < 0, df['Obciążenia'], df['Uznania'])
df

  Data transakcji              Opis  Obciążenia  Uznania Waluta  Operation
0      2021-03-15  Train ticket PKP      -21.78      NaN    PLN     -21.78
1      2021-03-08           Spotify      -19.99      NaN    PLN     -19.99
2      2021-02-26           Przelew         NaN    50.00    PLN      50.00
3      2021-02-26            PENSJA         NaN  1234.78    PLN    1234.78
4      2021-02-25  Zamówienie pizzy      -64.90      NaN    PLN     -64.90
5      2021-02-22           Telefon      -69.00      NaN    PLN     -69.00

In [5]:
df = df.drop(columns=['Obciążenia', 'Uznania'])
df = df.rename(columns={'Data transakcji': 'Date', 'Opis': 'Title', 'Waluta': 'Currency'})
df['Bank'] = 'Millenium'
existing_columns = list(df.columns)
columns = ['Category', 'Comment']
df.reindex(existing_columns + columns, axis="columns")
df

         Date             Title Currency  Operation       Bank
0  2021-03-15  Train ticket PKP      PLN     -21.78  Millenium
1  2021-03-08           Spotify      PLN     -19.99  Millenium
2  2021-02-26           Przelew      PLN      50.00  Millenium
3  2021-02-26            PENSJA      PLN    1234.78  Millenium
4  2021-02-25  Zamówienie pizzy      PLN     -64.90  Millenium
5  2021-02-22           Telefon      PLN     -69.00  Millenium