In [1]:
import importer

importer.load_data('account.csv')

,Bank,Date,Title,Details,Category,Comment,Operation,Currency,Balance
0,Bank A,31/01/2021,Init money,NaN,NaN,init,"888,48",PLN,"888,48"
1,Bank A,01/02/2021,Italian restaurant,NaN,NaN,anniversary,"-38,26",PLN,"850,22"
2,Bank A,02/02/2021,Market A,NaN,NaN,NaN,"-14,72",PLN,"835,50"
3,Bank A,03/02/2021,Netflix,NaN,NaN,NaN,"-100,00",PLN,"735,50"
4,Bank A,04/02/2021,Canteen,NaN,NaN,NaN,"-16,20",PLN,"719,30"
5,Bank A,05/02/2021,Salary,NaN,NaN,January salary,"1000,56",PLN,"1719,86"