In [5]:
import importer

# importer.load_data('\\real\\konto.csv')

importer.load_pl_millenium('\\test_pl_millenium.csv')

TypeError: '<' not supported between instances of 'str' and 'int'

In [2]:
df = importer.load_data('\\millenium.csv')
df = df[['Data transakcji', 'Opis', 'Obciążenia', 'Uznania', 'Waluta']]
df

,Data transakcji,Opis,Obciążenia,Uznania,Waluta
0,2021-03-15,P24-Y17-Q22-J37 Oplata Salda / 11822009 PayPro...,-17.99,NaN,PLN
1,2021-03-15,AUT BILET 2485620 WARSZAWA WARSZAWA P...,-8.80,NaN,PLN
2,2021-03-08,Spotify P13C3933F0 Stockholm Stockhol ...,-19.99,NaN,PLN
3,2021-02-27,Przelew własny,-160000.00,NaN,PLN
4,2021-02-26,XX2047593849XX 115019447 PayU S.A.,-179.96,NaN,PLN
5,2021-02-26,Przelew - Wojciech Krzywiec,NaN,50.0,PLN
6,2021-02-26,PENSJA,NaN,6628.3,PLN
7,2021-02-25,M3896-16097 Nazwa restauracji: WARSZAWA RAKOWI...,-64.90,NaN,PLN
8,2021-02-22,M3283-42333 Wpłata wykonana przez klienta 1001...,-12.00,NaN,PLN
9,2021-02-22,Telefon,-129.00,NaN,PLN
10,2021-02-20,Allegro 448c6551-737 Allegro 448c6551-737 ALLE...,-40.99,NaN,PLN
11,2021-02-17,P24-Z65-M88-B46 Oplata Salda / 11645504 PayPro...,-57.99,NaN,PLN
12,2021-02-17,P24-Z65-M51-B04 Oplata Salda / 11645480 PayPro...,-83.00,NaN,PLN
13,2021-02-17,AUTOMATSPEC Warszawa Warszawa P...,-2.00,NaN,PLN
14,2021-02-17,CARREFOUR EXPRESS 3348 WARSZAWA WARSZAWA P...,-6.29,NaN,PLN
15,2021-02-17,ASEC Domaniewska Woloska Warszawa Warszawa P...,-4.40,NaN,PLN
16,2021-02-17,AUT BILET 2481530 WARSZAWA WARSZAWA P...,-4.40,NaN,PLN

In [3]:
import numpy as np
df['Operation'] = np.where(df['Obciążenia'] < 0, df['Obciążenia'], df['Uznania'])
df

,Data transakcji,Opis,Obciążenia,Uznania,Waluta,Operation
0,2021-03-15,P24-Y17-Q22-J37 Oplata Salda / 11822009 PayPro...,-17.99,NaN,PLN,-17.99
1,2021-03-15,AUT BILET 2485620 WARSZAWA WARSZAWA P...,-8.80,NaN,PLN,-8.80
2,2021-03-08,Spotify P13C3933F0 Stockholm Stockhol ...,-19.99,NaN,PLN,-19.99
3,2021-02-27,Przelew własny,-160000.00,NaN,PLN,-160000.00
4,2021-02-26,XX2047593849XX 115019447 PayU S.A.,-179.96,NaN,PLN,-179.96
5,2021-02-26,Przelew - Wojciech Krzywiec,NaN,50.0,PLN,50.00
6,2021-02-26,PENSJA,NaN,6628.3,PLN,6628.30
7,2021-02-25,M3896-16097 Nazwa restauracji: WARSZAWA RAKOWI...,-64.90,NaN,PLN,-64.90
8,2021-02-22,M3283-42333 Wpłata wykonana przez klienta 1001...,-12.00,NaN,PLN,-12.00
9,2021-02-22,Telefon,-129.00,NaN,PLN,-129.00
10,2021-02-20,Allegro 448c6551-737 Allegro 448c6551-737 ALLE...,-40.99,NaN,PLN,-40.99
11,2021-02-17,P24-Z65-M88-B46 Oplata Salda / 11645504 PayPro...,-57.99,NaN,PLN,-57.99
12,2021-02-17,P24-Z65-M51-B04 Oplata Salda / 11645480 PayPro...,-83.00,NaN,PLN,-83.00
13,2021-02-17,AUTOMATSPEC Warszawa Warszawa P...,-2.00,NaN,PLN,-2.00
14,2021-02-17,CARREFOUR EXPRESS 3348 WARSZAWA WARSZAWA P...,-6.29,NaN,PLN,-6.29
15,2021-02-17,ASEC Domaniewska Woloska Warszawa Warszawa P...,-4.40,NaN,PLN,-4.40
16,2021-02-17,AUT BILET 2481530 WARSZAWA WARSZAWA P...,-4.40,NaN,PLN,-4.40

In [4]:
df = df.drop(columns=['Obciążenia', 'Uznania'])
df = df.rename(columns={'Data transakcji': 'Date', 'Opis': 'Title', 'Waluta': 'Currency'})
df['Bank'] = 'Millenium'
existing_columns = list(df.columns)
columns = ['Category', 'Comment']
df.reindex(existing_columns + columns, axis="columns")
df

,Date,Title,Currency,Operation,Bank
0,2021-03-15,P24-Y17-Q22-J37 Oplata Salda / 11822009 PayPro...,PLN,-17.99,Millenium
1,2021-03-15,AUT BILET 2485620 WARSZAWA WARSZAWA P...,PLN,-8.80,Millenium
2,2021-03-08,Spotify P13C3933F0 Stockholm Stockhol ...,PLN,-19.99,Millenium
3,2021-02-27,Przelew własny,PLN,-160000.00,Millenium
4,2021-02-26,XX2047593849XX 115019447 PayU S.A.,PLN,-179.96,Millenium
5,2021-02-26,Przelew - Wojciech Krzywiec,PLN,50.00,Millenium
6,2021-02-26,PENSJA,PLN,6628.30,Millenium
7,2021-02-25,M3896-16097 Nazwa restauracji: WARSZAWA RAKOWI...,PLN,-64.90,Millenium
8,2021-02-22,M3283-42333 Wpłata wykonana przez klienta 1001...,PLN,-12.00,Millenium
9,2021-02-22,Telefon,PLN,-129.00,Millenium
10,2021-02-20,Allegro 448c6551-737 Allegro 448c6551-737 ALLE...,PLN,-40.99,Millenium
11,2021-02-17,P24-Z65-M88-B46 Oplata Salda / 11645504 PayPro...,PLN,-57.99,Millenium
12,2021-02-17,P24-Z65-M51-B04 Oplata Salda / 11645480 PayPro...,PLN,-83.00,Millenium
13,2021-02-17,AUTOMATSPEC Warszawa Warszawa P...,PLN,-2.00,Millenium
14,2021-02-17,CARREFOUR EXPRESS 3348 WARSZAWA WARSZAWA P...,PLN,-6.29,Millenium
15,2021-02-17,ASEC Domaniewska Woloska Warszawa Warszawa P...,PLN,-4.40,Millenium
16,2021-02-17,AUT BILET 2481530 WARSZAWA WARSZAWA P...,PLN,-4.40,Millenium